.leftBar {
  flex: 2;
  top: 70px;
  overflow: scroll;
  background-color: black;
  color: whitesmoke;

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0;
        border: none;
        height: 1px;
        background-color: grey;
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 15px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 15px;
            font-weight: 500;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
