@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  @apply bg-zinc-950;
}
