.rightBar {
  flex: 3;
  color: white;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .container{
    padding: 20px;

    .item{
      -webkit-box-shadow: 1px -1px 20px -7px rgba(255,255,255,1);
      -moz-box-shadow: 1px -1px 20px -7px rgba(255,255,255,1);
      box-shadow: 1px -1px 20px -7px rgba(255,255,255,1);
      padding: 20px;
      margin-bottom: 20px;
      span{
       color: white
      }
      .user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        position: relative;
        .userInfo{
          display: flex;
          align-items: center;
          gap: 20px;
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;
          }
          .status{
            width: 10px;
            height: 10px;
            background-color: limegreen;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 30px;
            &:first-child{
              background-color: limegreen;
            }
            &:last-child{
              background-color: red;
            }
          }
          p{
            color: #9ca3af;
          }
          span{
            font-weight: 500;
            color: white;
          }
        }
        .buttons{
          display: flex;
          align-items: center;
          gap: 10px;

          button{
            border: none;
            padding: 5px;
            color: white;
            cursor: pointer;
            &:first-child{
              background-color: blue;
            }
            &:last-child{
              background-color: darkred;
            }
          }
        }
      }
    }
  }
}
